html {
    scroll-behavior: smooth;
}

body {
    background: rgb(124,201,252);
    background: linear-gradient(247deg, rgba(124,201,252,1) 0%, rgba(138,219,249,0) 100%);
    margin: 10px;
}

.coverphoto {
    height: 300px;
    width: 300px;
    border-radius: 30%;
    border: solid rgb(103, 110, 103) 5px;
}

#name-head {
    font-size: 4rem;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

#position-head {
    font-size: 2rem;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

#location-head {
    font-size: 2rem;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

#self-blurb {
    font-size: 1rem;
}


#social-links {
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
}

#github-link {
    margin-right: 20px;
}

#email-link {
    margin-right: 20px;
}

#About {
    max-width: 95%;
    padding-left: 60px;
    margin-bottom: 100px;
}
#about-head {
    text-align: center;
}

.project-photo {
    border: solid rgb(103, 110, 103) 1px;
}

#projects-section {
    margin-bottom: 55px;
}


